<h2>Admin side</h2>

<table class="pure-table">
  <thead>
    <tr>
      <th>Navn</th>
      <th>Medlem</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Peder Ås</td>
      <td>Ja</td>
      <td>Nei</td>
    </tr>

    <tr>
      <td>Marte Kirkerud</td>
      <td>Nei (<a href="#">Gi medlem</a>)</td>
      <td>Nei</td>
    </tr>
  </tbody>
</table>
