<section class="entry">
	                	<h3>Bli medlem!</h3>
<p>Rett til å bli medlem i Juristforeningen har studenter ved Det juridiske fakultet ved&nbsp;Universitetet i Oslo og fakultetets kandidater.</p>
<p>Medlemskap koster kr 200,- og er <em>livsvarig</em>. Beløpet sparer du raskt inn igjen.</p>
<h4>Medlemsfordeler:</h4>
<ul>
<li>Billigere inngang på Juristforeningens arrangementer på <a onclick="javascript:_gaq.push(['_trackPageview', '/out/www.frokostkjelleren.no/']);" href="http://www.frokostkjelleren.no/">Frokostkjelleren</a>, <a title="Festivaler" href="http://juristforeningen.no/aktiviteter/festivaler/">festivalene&nbsp;våre</a>, <a title="Chorus Mixtus" href="http://juristforeningen.no/aktiviteter/kor/chorus-mixtus/">konserter</a> mv.</li>
<li>Billigere overnatting på <a title="Hytteturer" href="http://juristforeningen.no/aktiviteter/hytteturer/">Hoppeseter</a></li>
<li>Adgang til å fremsette forslag på <a title="Generalforsamling" href="http://juristforeningen.no/organisasjon/generalforsamling/">Generalforsamlingen</a></li>
<li>Tale- og stemmerett på <a title="Generalforsamling" href="http://juristforeningen.no/organisasjon/generalforsamling/">Generalforsamlingen</a>*</li>
<li><a title="Lover" href="http://juristforeningen.no/organisasjon/lover/">Valgbarhet</a> på <a title="Generalforsamling" href="http://juristforeningen.no/organisasjon/generalforsamling/">Generalforsamlingen</a></li>
</ul>
<p><em>* Du må ha vært medlem i minst én uke for å kunne stemme</em></p>
<h4>Slik blir du medlem:</h4>
<ol>
<li><span style="font-size: 1em">Betal kr 200,- til kontonummer 1503.42.21216<br>
</span><span style="color: #ff0000">Det er veldig viktig at du skriver navnet ditt i betalingen.</span></li>
<li>Send mail til <a onclick="javascript:_gaq.push(['_trackPageview', '/mailto/medlem@juristforeningen.no']);" href="mailto:medlem@juristforeningen.no">medlem@juristforeningen.no</a> med navn og mailadresse.</li>
<li>Du vil få en bekreftelse når medlemskapet er i orden.<br>
Alle nye medlemmer får også et medlemskort som beviser deres medlemskap.</li>
</ol>
<p>&nbsp;</p>

							               	</section>