<!-- REGISTER -->
<form id="register" class="pure-form pure-form-stacked" role="form">
  <fieldset>
    <h2>Registrer en ny bruker</h2>

    <label for="name">Navn</label>
    <input id="name" type="text" placeholder="Navn">

    <label for="email">E-post</label>
    <input id="email" type="email" placeholder="E-post">

    <label for="password">Passord</label>
    <input id="password" type="password" placeholder="Passord">

    <button type="submit" class="pure-button pure-button-primary">Lag bruker</button>
  </fieldset>
</form>
<script>
document.getElementById("register").addEventListener("submit", function (e) {
  e.preventDefault();
  var user = {
    name:  document.getElementById("name").value.trim(),
    email: document.getElementById("email").value.trim(),
    password: document.getElementById("password").value.trim()
  };
  handleAuthResponse(createUserAndLogin(user));
});
</script>
<!-- / REGISTER -->